* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family:per-marker ;
  src: url(/public/fonts/peppermint-regular.ttf);
}
@font-face {
 font-family:inkfree ;
  src: url(/public/fonts/Inkfree.ttf);
}
@font-face {
  font-family:breadidol ;
  src: url(/public/fonts/Bread\ Idol.otf);
}


.tratta_layer1 {
background: rgba(245, 239, 235, 0.16);
border: 3.32852px solid #DDDDDD;
box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
border-radius: 38.694px;
width: 98%;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;

}
.tratta_layer0{
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(245, 239, 235, 0.16);
}
.tratta_nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  width: 100%;
}
.tratta_layer2{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

}
.close_model_img{
  height: 20px;
  color: #42215A;
}

.tratta_layer1{
  padding-top: 20px;
}
.circle_items{
  position: absolute;
  left: 50%;
  margin-top: -346px;
}
.circle_items img{
  width: 68px;
  height: 68px;
}

.circle_items div {
  transform: translate(-50%,-50%);
}

.circle_items .one {
  position: absolute;
  top: 295px !important;
  right: -41px !important;
  transform: translate(-50%,-50%);
  transition: 1s;
}
.circle_items.active .one{
  position: absolute;
  height: 68px !important;
  right: 45px !important;
  top: 242px;
  transform: translate(-50%,-50%);
  transition: 1s;
}
.circle_items.active .two{
  position: absolute;
  height: 68px;
  right: 24px !important;
  top: 221px !important;
  transform: translate(-50%,-50%);
  transition: 1s;
}
.circle_items.active .three{
  position: absolute;
  height: 68px;
  right: -43px !important;
  top: 192px !important;
  transform: translate(-50%,-50%);
  transition: 1s;

}
.set_title{
  font-style: normal;
  font-weight: 400;
  font-family:inkfree ;
  font-weight: 700;
  font-size: 13px;
height: 30px;
padding-left: 20px;
padding-top: 5px;
color: #fff;
  cursor: pointer;
}
.dark_modal_clr{
  background-color: #2D4263 !important;
  color:#fff !important;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.dark_modal_clrr{
  background-color: #2D4263 !important;
  color:#fff !important;
 
}


.circle_item_light{
padding-top: 24px;
}

.set_light_tittle{
color: #2D4263 !important;
}
.set_title:hover{
background: #613757;
}
.inner-content {
  padding: 15px;
  padding-bottom: 0;
  width: 250px;
}
.choose_para_wrapper {
  max-height: 199px;
  overflow-y: auto;
  overflow-x: hidden;
}
.choose_para_wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.choose_para_wrapper::-webkit-scrollbar-thumb {
  background: #7A7A7A;
  border-radius: 100px;
}
.choose_para_wrapper::-webkit-scrollbar-thumb:hover {
  background: #7A7A7A;
}
.choose_para_wrapper::-webkit-scrollbar-track {
  background: #E8E8E8;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
.set_title:hover{
  background: #613757;
  }
  .drug_modal_slc:hover{
    background: #E2E9FF;
  }
  .drug_modal_sloc:hover{
    background: #613757 !important;
  }
  .drug_modal_slc{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: start; */
    align-items: center;
  }
.set_light_tittle:hover{
  background: #E2E9FF;
}
.bg_active{
  background-color: #D5FD6E !important;
}
.setting_menu{
  width: 165px;
  padding-top: 38px;
  position: absolute;
  margin-top: 46px;
  right: 49px;
  cursor: pointer;
  height: 140px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 15px
}
.chnage_bg{
  background-color: #CFBEB6 !important;
}
/* .download_icons svg {
  color: none;
  fill: none !important;
  stroke: none !important;
} */
/* .contact_icons svg {
  color:none;
  fill:none;

}
.contact_icons svg:hover {
  color: red;
  fill:none;
}

.download_icons svg:hover {
  color: red;
  fill: white !important;
  stroke: white !important;
  
} */

.light_close{
  height: 45px !important;
  padding-top: 21px;
}
.light_circle img{
height: 35px;
}
.light_circle{
width: 68px;
height: 68px;
padding-top: 17px;
cursor: pointer;
border-radius: 35px;
background: rgb(241, 243, 246);
}
.light_circle2{
  border-radius: 35px;
background: rgb(241, 243, 246);


}
.seacrch_modal{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.drug_search{
  background: #42215A;
border-radius: 24px;
border: none;
outline: none;
padding-left: 70px;
font-family:inkfree ;
height: 30px;
color: #fff;
}
.drug_modal_slc{
color: #666666;
font-family:inkfree ;
font-weight: 700;
}
.serch_img_drugtag{
  position: absolute;
  height: 21px;
  z-index: 1;
  margin-top: 5px;
  margin-left: 28px;
}

.drug_search_btn{
position: absolute;
z-index: 1;
margin-top: 4px;
margin-left: -62px;
}
.slect_drug_ill{
  background: #CFBEB6;
  border-radius: 9px;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  padding: 0 4px;
}
.illbtn{
height: 29px;
  width: 82px;
  background: #FAFAFA;
  font-family:inkfree ;
border-radius: 6px;
}
.drugbttn{
  height: 29px;
  width: 82px;
  font-family:inkfree ;
border-radius: 6px;
}
.light_circle2 img {
  height: 55px;
  padding-top: 11px;
}
.konnn:hover{
color: #42215A;
}
#ovel_1:hover{
  fill: #2D4263;
}
.calculation{
  left: 49%;
    margin-top: -231px;
    transform: translate(-50%,-50%);
    position: absolute;

  background: #427A95;
border-radius: 29px;
width: 280px;
height: 51px;
padding-top: 7px;
padding-left: 20px;
padding-right: 20px;
}
.heading{
  position: absolute;
  height: 120px;
    margin-top: 61px;
}
.stethooo{
  width: 68px !important;
  height: 68px !important;
}
.general_btn{
  background: #CFBEB6;
  border-radius: 29px;
  width: 320px;
  height: 51px;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  left: 49%;
margin-top: -231px;
    transform: translate(-50%,-50%);
    position: absolute;

}
.colorChange {
  color:red;
}
.weight_div{
  background: #A5D9EB;
border-radius: 29px;
width: 185px;
height: 51px;
padding-top: 7px;
padding-left: 20px;
padding-right: 10px;
left: 49%;
margin-top: -231px;
    transform: translate(-50%,-50%);
    position: absolute;
}

#ovel_1 {
  fill: yellow;
  transition: ease-in 0.2s;
}
.dark_clr{
  background: rgb(40, 42, 58) !important;
  border: 1px solid #CFBEB6;
}
.history_modal{
  height: 356px;
  position: absolute;
  width: 30%;
  right: 0;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-top: 205px;
    transform: translate(-50%,-50%);
  padding-top: 20px;
 background-color: #fff;
 border-radius: 20px;
}
.closedivv{
  position: absolute;
    right: 24px;

}
.light_stho{
  border-radius: 60px !important;
  height: 70px !important;
  width: 70px !important;
  margin-top: 0 !important;
  padding-top: 0px !important;
  position: absolute;
  top: 295px !important;
  right: -43px !important;
  z-index: 99999;
  background: rgb(241, 243, 246);
}
.circle_items.active .four{
  position: absolute;
  height: 68px;
  right: -112px !important;
  top: 222px !important;
  transform: translate(-50%,-50%);
  transition: 1s;
}
.circle_items.active .five{
  position: absolute;
  height: 68px;
  right: -127px !important;
  /* top: 242px; */
  transform: translate(-50%,-50%);
  transition: 1s;

}
.circle_items .two{
  width: 68px;
  position: absolute;
  transform: translate(-50%,-50%);
  transition: 1s;
  top: 295px !important;
  right: -41px !important;
}
.circle_items .three{
  position: absolute;
  top: 295px !important;
  right: -41px !important;
  transform: translate(-50%,-50%);
  transition: 1s;
}
.circle_items .four {
  position: absolute;
  transform: translate(-50%,-50%);
  transition: 1s;
  top: 295px !important;
  right: -41px !important;
}
.circle_items .five{
  position: absolute;
  transform: translate(-50%,-50%);
  transition: 1s;
  top: 295px !important;
  right: -41px !important;
}

.right_stetho{
  background: #22202A !important;
  box-shadow: 2px -6px 80px rgb(255 255 255 / 10%) !important;
  border-radius: 60px !important;
  height: 70px !important;
  width: 70px !important;
  margin-top: 0 !important;
  padding-top: 0px !important;
  position: absolute;
  top: 295px !important;
  right: -43px !important;
  z-index: 99999;
}

.vector1{
  position: absolute;
}
.vector1 img{
  height: 330px;
}
.vector1_light{
  position: absolute;
  z-index: 0;
}
.toggle_mode{
margin-left: 18px;
height: 40px;
}
.setting{
  height: 40px;
}
.tratta_logo img {
  height: 90px;
}
.tratta_logo{
z-index: 1;
}
.medical_fields{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}
.night_bg{
  background: #22202A !important;
}
.search_input{
border: none;
background: #090822;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
border-radius: 45px;
transform: rotate(-0.13deg);
font-family:inkfree;
outline: none;
height: 60px;
font-size: 20px;
padding-left: 122px;
width: 65%;
color: #fff;
padding-right: 198px;
}
.seacrch_field{
  width: 70%;
  margin-top: 30px;
}
.serch_img{
  position: absolute;
  z-index: 1;
  margin-top: 18px;
  margin-left: 70px;

}
.perpul_dol{
  position: absolute;
  z-index: 1;
  margin-left: -194px;
  margin-top: 19px;
}

.refresh_btn{
  position: absolute;
  z-index: 1;
  margin-top: 19px;
  margin-left: -110px;
}
.yellow_dot{
  position: absolute;
  z-index: 1;
  margin-top: 19px;
  margin-left: -142px;
}
.blu_dot {
  position: absolute;
    z-index: 1;
    margin-left: -168px;
    margin-top: 19px;
}

.indication_fields{
  text-align: center;
}
.night_field_m{
  margin-bottom: 350px;
}
.formula_fields{
  text-align: center;
  margin-bottom: 20px;
}


.ant-select-selector {
  height: 60px !important;
  padding: 13px 11px !important;
  font-size: 20px !important;
  font-family:inkfree !important;
  background: transparent !important;
  text-align: justify;
}
.ant-select {
  font-family:inkfree;
  width: 35%;
  
}
.border_sp .ant-select-selector{
  border: 1px solid #F6C90E !important;
  border-radius: 8px !important;
}
.border_sp_light .ant-select-selector{
 background: rgba(226, 233, 255, 1) !important;
 
}
.ant-select-selector input{
height: 60px !important;
}
.formula_fields_pl .ant-select-selection-placeholder{
  color: #fff !important;
}
.stetho_section{
  text-align: center;
  margin-top: 130px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding-top: 7px;
  margin-left: auto;
  margin-right: auto;
}
.night_sub_btn{
  background: linear-gradient(180deg, #FFD369 0%, #F6C90E 100%) !important;
}
.night_color_sub{
color: #FFD369 !important;

}
.night_color_sub::placeholder{
  color: #FFD369 !important;
}
.sub_night{
  background: #2B2B2B !important;
  box-shadow: 0px 4px 120px rgba(142, 131, 113, 0.15) !important;
}
.section_one{
background-color: #fff;
border-top-left-radius: 14px;
border-top-right-radius: 14px;
padding-bottom: 32px;
}

.vector2 img {
  position: absolute;
  right: 0;
  height: 330px;
  margin-top: -109px;
  margin-right: 46px;
}
.recomended_section{
  text-align: center;
  font-weight: 400;
font-size: 32px;
line-height: 45px;
}
.section_two{
  background: rgba(242, 244, 248, 0.62);
  padding-bottom: 60px;
  padding-top: 60px;
}
.section_two_div{
  position: absolute;
  width: 93.4%;
  padding-top: 110px;
  height: 267px;
  text-align: center;
  background-color: #242430;
  
}
h3 {
  font-family:breadidol;
}
h5{
  font-weight: 400;
font-size: 24px;
font-family:inkfree ;
line-height: 30px;
padding-top:25px ;
}
.footer_layer{
width: 80%;
text-align: center;
padding-top: 100px;
}
.footer_layer img {
  width: 90%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.footer_section{
  border-bottom-left-radius: 82px;
  background: rgba(242, 244, 248, 0.62);
  border-bottom-right-radius: 20px;
}
.footer_logo{
  text-align: center;
  padding-bottom: 30px;
}
.footer_flex{
display: flex;
justify-content: space-between;
padding-left: 30px;
z-index: 1;
padding-right: 30px;
width: 93%;
position: absolute;
}
.footer_content{
padding-top: 0 !important;
}
.subscribe_input{
  background: rgba(255, 255, 255, 0.75);
box-shadow: 0px 4px 120px rgba(142, 131, 113, 0.15);
border-radius: 51.5px;
border: none;
outline: none;
padding-left: 80px;
height: 59px;
font-family:inkfree;
width: 48%;
}
.subscribe_section{
  padding-bottom: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
.sub_btn{
  font-weight: 400;
  font-size: 9px;
  text-align: center;
  background: linear-gradient(180deg, #CFBEB6 0%, #C8AC9F 100%);
border-radius: 35.5px;
letter-spacing: 0.16em;
color: #FFFFFF;
  line-height: 11px;
  height: 40px;
  width: 118px;
  border: none;
  position: absolute;
  margin-top: 9px;
  margin-left: -129px;
}
.sub_btn:hover{
   background: rgba(90, 77, 156, 0.6);  
  color: rgb(255, 255, 255);
  transition: all 0.45s;
}
.night_btn_ho:hover{
background: transparent;
border: 2px solid #F6C90E !important;
}
.left_fooer_mask {
  position: absolute;
    margin-top: 5px;
}
.light_clr_bg{
  background-color: #DDDDDD;
}
.left_fooer_mask img{
height: 330px;
}
.right_fooer_mask img {
  height: 330px;
}
.right_fooer_mask {
  position: absolute;
    right: 0;
    margin-right: 41px;
    margin-top: -328px;

}
.slct_btn{
  position: absolute;
  margin-top: 17px;
  margin-left: 30px;
}
/* //////////////// */
/* *{
  text-align: center;
} */
.main{
  position:absolute;
  top: 0;
}
.popup{
  height: 400px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  right: 25%;
}
.popup-header{
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid black;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .vector2_night img{
    margin-right: 27px;
  }
  .search_input_tab{
width: 86%;
  }
  .subscribe_section_night{
margin-top: 47px !important;
width: 100% !important;
  }
  .search_input_night{
width: 88% !important;
  }
  .right_fooer_mask_night {
    position: absolute;
    right: 0;
    margin-right: 32px;
    margin-top: -255px;
}
.right_fooer_mask_night img {
  height: 200px ;
}
.left_fooer_mask_night {
  position: absolute;
  margin-top: 94px !important;
}
.left_fooer_mask_night img {
  height: 200px !important;
}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .vector2 img {
  
    margin-right: 32px;
}
}
@media (min-width: 1100px) { 
  .vector2 img {
  
    margin-right: 36px;
}
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .vector2 img {
    margin-right: 41px;
}
  .vector2_night img{
    margin-right: 39px !important;
  }
  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) { 
  .vector2 img {
    margin-right: 44px;
}
}
@media (min-width: 1600px) { 
  .vector2 img {
    margin-right: 49px;
}
  .vector2_night img{
    margin-right: 46px !important;
  }
}
  @media (min-width: 1700px) { 
    .vector2_night img{
      margin-right: 54px !important;
    }
 }

@media (min-width: 1900px) { 
  .vector2_night img{
    margin-right: 59px !important;
  }
}


/* ------------------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family:per-marker ;
  src: url(/public/fonts/peppermint-regular.ttf);
}
@font-face {
 font-family:inkfree ;
  src: url(/public/fonts/Inkfree.ttf);
}
@font-face {
  font-family:breadidol ;
  src: url(/public/fonts/Bread\ Idol.otf);
}
.customm_check1 .ant-switch-checked {
  background-color: #3F7090 !important;
    }
    .customm_check1 {
  margin-right: 10px;
    }
  .customm_check2 .ant-switch-checked {
    background-color: #c34bbd !important;
  }
  .ant-switch{
    min-width: 28px !important;
  }
    
    .customm_check2 .ant-switch-checked {
      background-color: #c34bbd !important;
    }
.sidebar{
  background-color: transparent !important;
  height: auto !important;
  position: absolute !important;
  border-right: 1px solid #35BBCB;
  margin-left: 30px;
  margin-top: 182px;
  
}

.accordion-button{
color: none !important;
background-color: transparent !important;
border: none !important;
text-align: right !important;
width:fit-content !important;
margin-left: auto;
z-index: 2222222;
box-shadow: none !important;
}
.sidebar-text{
  font-family:inkfree ;
  color: #3F7090;
}
.accordion-button::after{
display: none !important;
}
.accordion-item{
  border: none !important;
}
.nav-link:hover{
  background-color: #F2CC8F !important;
}
.clr{
  color: #3F7090 !important;
}
/* @media only screen and (max-width:1200px) {
  .welcome_main{
height: 700vh !important;
  }
}
@media only screen and (max-width:1400px) {
  .welcome_main{
height: 700vh !important;
  }
}
@media only screen and (max-width: 600px) {} */